@import "tailwindcss";

/* Leaflet Dark Theme Overrides */
.osm-dark-tiles .leaflet-tile {
  filter: invert(100%) hue-rotate(180deg) brightness(85%) contrast(90%) !important;
}

.leaflet-popup-content-wrapper {
  background: #0f172a !important;
  color: #f8fafc !important;
  border: 1px solid #334155;
  border-radius: 10px !important;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.6) !important;
}

.leaflet-popup-tip {
  background: #0f172a !important;
  border: 1px solid #334155;
}

.leaflet-container {
  background: #020617 !important;
  font-family: inherit;
}

/* Hide scrollbar for clean horizontal pill sliders */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
